#root {
  background-repeat: no-repeat;
  background-position: center;
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 1;
}

.bg-image {
  background-image: url(background.png);
}
